<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @criterium.title %>
</p>

<p>
  <strong>Alternatives:</strong>
  <%= @criterium.alternatives %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @criterium.problem %>
</p>

<%= link_to 'Edit', edit_criterium_path(@criterium) %> |
<%= link_to 'Back', criteria_path %>
