<p id="notice"><%= notice %></p>

<%= link_to 'Solver', solver_path %>

<h1>Activities</h1>

<%= link_to 'New Activity', post_action_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Activation</th>
      <th>Participants</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.activation %></td>
        <td><%= activity.participants %></td>
        <td><%= link_to 'Show', action_path(activity.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>