<p id="notice"><%= notice %></p>
<%= link_to 'Back', activator_path %>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Activation Progress:</strong>
  <%= @roll.user.count %> / <%= @roll.minimum %> participants
</p>

<p>
  <strong>Max Participants:</strong>
  <%= @roll.maximum %>
</p>


<button><%= link_to "I commit to participate if activated", participate_path(:roll_id => @roll.id), :method => "post" %></button>

